 .section {
      padding: 40px;
      margin: 20px;
      border-radius: 10px;
      color: white;
    }


/*header*/
#header {
    background-color: #333;
    color: white;
    text-align: center;
}

/*Biography*/

#Bio{
    background-color: white;
    color: black;
}

#Bio h2{
    text-align: center;
    margin-bottom: 20px;
}

#Bio p{
    flex: 1;
    margin-right: 20px;
}

#Bio img{
    width: 120px;
    height: auto;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Allinea il testo e l'immagine in basso */

}

/*Album*/